.caja-exp {
    padding: 50px;
}

.label-tab {
    color: #171717 !important;
    font-family: "Roboto", sans-serif !important;
    font-style: italic !important;
    font-weight: bolder !important;
    font-size: 22px !important;
    letter-spacing: 0.1em !important;
    text-transform: uppercase !important;
}