<section class="section-par" id="Experiencia">
    <div class="titulo" data-aos="fade-left" data-aos-duration="1100">
        <h2>Experiencia</h2>
    </div>
    <br>
    <mat-tab-group dynamicHeight data-aos="fade-left" data-aos-duration="1100">

        <!-- <mat-tab><ng-template mat-tab-label>
                <div class="label-tab">Habilidades</div>
            </ng-template>
            <div class="caja-exp">
                <div class="container d-flex justify-content-center padding">
                    <div class="row">
                        <div class="col-2" *ngFor="let habilidad of habilidadList">
                            <div class="spinner-container">
                                <div class="spinner-background">{{spinner.value}}%
                                </div>
                                <mat-progress-spinner #spinner class="custom-spinner" mode="determinate"
                                    [value]=habilidad.porcentaje diameter="130" strokeWidth="13">
                                </mat-progress-spinner>
                                <div class="spinner-label">
                                    {{ habilidad.nombre}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <div class="label-tab">Educación</div>
            </ng-template>
            <div class="caja-exp">
                <ul class="timeline">
                    <li *ngFor="let educacion of educacionList">
                        <div class="container">
                            <div class="row d-flex">
                                <div class="col-md-9">
                                    <strong>{{ educacion.nombre }}</strong> <br />
                                    <a><b>{{ educacion.anioInicio }} - {{ educacion.anioFinal }}</b></a>
                                    <p><em>{{ educacion.descripcion }}</em></p>
                                </div>
                                <div class="col-md-3 100">
                                    <div class="iconos" *ngIf="estaLogeado">
                                        <mat-icon>create</mat-icon>
                                        <mat-icon>delete</mat-icon>
                                        <mat-icon>drag_indicator</mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li *ngIf="estaLogeado">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-6 500">
                                    <img src="/assets/images/plus.png" class="add-sign"
                                        alt="imagen png de una cruz, la cual al hacer click se añadirá un nuevo elemento." />
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </mat-tab> -->

        <mat-tab>
            <ng-template mat-tab-label>
                <div class="label-tab">Laboral</div>
            </ng-template>

            <app-laboral></app-laboral>

        </mat-tab>
    </mat-tab-group>

</section>