<section data-aos="fade-right" data-aos-duration="1100">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="img-fluid" id="imagen-perfil" [style.background-image]="'url('+perfil.imgPerfil+')'">
                    <div id="banner-hover" *ngIf="estaLogeado">
                        <div class="icono-hover">
                            <a routerLink="/editperfil/1"><mat-icon>create</mat-icon></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="perfil-titulo">¡Bienvenidx!</div>
                <div id="perfil-linea"></div>
                <div id="texto-destacado">
                    <p>
                        De Buenos Aires, Argentina, soy una persona autodidacta con una
                        enorme pasión por aprender y desarrollarse aún más en todo aquello
                        que le apasiona.
                    </p>
                </div>
                <div id="texto-secundario">
                    <p>
                        Cuento con diferentes habilidades, entre ellas mi soltura y avanzada
                        habilidad en el inglés, en herramientas de diseño como Photoshop e
                        Illustrator, un avanzado nivel computacional y de redes sociales.
                    </p>

                    <p>
                        Excelente trabajando en sus tareas asignadas, dispuesta a aportar
                        ideas gracias a su gran creatividad y con buena disposición a
                        trabajar en grupo. Atenta a la resolución de problemas o desafíos
                        que puedan presentarse.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>