<header>
    <nav class="navbar navbar-expand-lg" id="sticky">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-around">
                    <li class="nav-item">
                        <a class="nav-link" id="resaltado" (click)="loginModal(loginmodal)">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Experiencia">Experiencia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Proyectos">Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="hero" [style.background-image]="'url('+datosHeader.headerBanner+')'">
        <div id="hero-texto">
            <h2>¡HOLA! SOY {{ datosHeader.nombre }} {{ datosHeader.apellido }}</h2>
            <p>{{ datosHeader.puesto }}</p>
        </div>
        <div id="banner-hover">
            <div class="icono-hover">
                <mat-icon (click)="editModal(editmodal)" style="cursor:pointer;">create</mat-icon>
            </div>
        </div>
    </div>
</header>
<!-- NAVEGACIÓN -->

<nav class="navbar navbar-expand-lg" id="navegacion">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-around">
                <li class="nav-item">
                    <a class="nav-link" id="resaltado" (click)="loginModal(loginmodal)">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Experiencia">Experiencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Proyectos">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Contacto">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!------------ LOGIN ----------->

<ng-template #loginmodal let-modal class="modal-dialog modal-dialog-centered">
    <div class="myform bg-dark">
        <h1 class="text-center">Inicio de Sesión</h1>

        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-light">Enviar</button>
        </form>
    </div>
</ng-template>


<!------------ EDIT ----------->

<ng-template #editmodal let-modal class="modal-dialog modal-dialog-centered">
    <div class="myform bg-dark">
        <h1 class="text-center">Cambiar Imagen</h1>

        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">URL</label>
                <input type="url" class="form-control" id="url" aria-describedby="url">
            </div>
            <button type="submit" class="btn btn-light">Guardar</button>
        </form>
    </div>
</ng-template>