<section class="section-par" id="Experiencia">
    <div class="titulo" data-aos="fade-left" data-aos-duration="1100">
        <h2>Experiencia</h2>
    </div>
    <br>
    <mat-tab-group dynamicHeight data-aos="fade-left" data-aos-duration="1100">

        <mat-tab><ng-template mat-tab-label>
                <div class="label-tab">Habilidades</div>
            </ng-template>
            <app-habilidades></app-habilidades>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <div class="label-tab">Educación</div>
            </ng-template>
            <app-educacion></app-educacion>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <div class="label-tab">Laboral</div>
            </ng-template>

            <app-laboral></app-laboral>

        </mat-tab>
    </mat-tab-group>

</section>